body {
  background-color: #f3f6ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

body > header {
  align-self: flex-start;
}

main {
  margin-bottom: 3rem;
  width: 100%;
}

body>footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 2rem;
  margin-bottom: .5rem;
}

img#logo {
  width: 4rem;
  height: 4rem;
}

img#logo + span {
  font-weight: 700;
  vertical-align: top;
  display: inline-block;
  margin: 1rem;
}

h1 {
  font-size: 1.4rem;
   text-decoration: underline;
}

h2 {
  font-size: 1.1rem;
}

h1,
footer small,
#btn-add-product {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.hidden,
#section-add-product.hidden {
  display: none;
}


#btn-add-product {
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  background-color: #3a5341;
  color: #fff;
  font-weight: 700;
}

footer small {
  display: block;
  margin: 0.5rem;
}

button[type="submit"] {
  padding: 0.5rem 2rem;
  background-color: #606b57;
  color: #fff;
  font-weight: 700;
  border-radius: 0.25rem;
  text-transform: capitalize;
}

input[type="text"] {
  padding: 0.5rem 1rem;
  width: 50%;
  margin: auto;
  border-radius: 0.5rem;
}

input[type="checkbox"]+label {
  text-transform: capitalize;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #c95137;
}

li {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

#alert-user {
  color: #b8860b;
  font-weight: 500;
}